[submodule "klib"]
	path = klib
	branch = klib
	url = https://github.com/tqfx/klib.git
[submodule "mxml"]
	path = mxml
	branch = mxml
	url = https://github.com/tqfx/mxml.git
[submodule "cJSON"]
	path = cJSON
	branch = cjson
	url = https://github.com/tqfx/cJSON.git
