[submodule "klib"]
	path = klib
	branch = release
	url = https://github.com/tqfx/klib.git
[submodule "mxml"]
	path = mxml
	branch = release
	url = https://github.com/tqfx/mxml.git
[submodule "cJSON"]
	path = cJSON
	branch = release
	url = https://github.com/tqfx/cJSON.git
[submodule "md5"]
	path = md5
	branch = release
	url = https://github.com/tqfx/md5.git
[submodule "cmake"]
	path = cmake
	url = https://github.com/tqfx/cmake.git
